/*+clearfix {*/
.labelwrap:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.labelwrap
{
	display: inline-block;
}
.labelwrap
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
#content-explorer
{
	/*[disabled]padding-top:20px;*/
	width: 100%;
	line-height: normal;
	border: none;
}
/*[clearfix]*/.labelwrap
{
}
#content-explorer UL
{
	list-style: none;
	height: 29px;
	border-bottom: 2px solid #AAA;
	/*[disabled]width:820px;*/
}
.postbox
{
	max-height: 455px;
	overflow: hidden;
}
#content-explorer UL LI
{
	background: url(../images/unselected_admin.jpg) repeat-x top left;
	float: left;
	padding: 6px 5px;
	border: 1px solid #AAA;
}
.metabox-holder
{
	border: none !important;
}
#content-explorer UL LI A
{
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #464646;
	text-decoration: none;
}
#content-explorer UL LI.ui-state-hover A
{
	color: #343434;
}
#content-explorer UL LI.ui-tabs-selected
{
	background: url(../images/selected_admin.jpg) repeat-x top left;
}
#content-explorer UL LI.ui-tabs-selected A
{
	padding: 0;
	font-size: 12px;
	color: #FFF;
}
.yui-content
{
}
.submitbutton
{
	float: left;
	width: 100%;
}
.toplevel_page_homepage-slider-homeslider DIV.metabox-holder > DIV
{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	zoom: 1;
	=display: inline;
}
.toplevel_page_homepage-slider-homeslider DIV.metabox-holder
{
	width: 100% !important;
}
/*Date Picker Styling*/
#ui-datepicker-div
{
	background: #FFFFFF;
	padding: 0 20px 15px;
}
